<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D552051C19D5C769006CF417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D552053B19D5C769006CF417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D568D37818CBFC4D00ED987D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D568D39C18CBFC4D00ED987D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
